{% extends 'home.html' %}
{% block content %}
{% load cart %}
{% load filter %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-3 mx-auto">
			{% if customer %}
			<h3>Hello, {{customer.first_name}}!</h3>
			{% else %}
			<h3>Hello, Guest!</h3>
			{% endif %}
			<div class="list-group" >
				<a href="/" class="list-group-item"style="background-color: rgb(0, 245, 245);color:#000000;border-color:#000000;">All Products</a>
				{% for category in categories.all|dictsort:"name" %}
				<a href="/?category={{category.id}}"
					class="list-group-item"style="background-color: rgb(0, 245, 245);color:#000000;border-color:#000000;">{{category.name}}
				</a>
				{% endfor %}
			</div>
		</div>
		<div id='products' class="col-lg-9 mx-auto">
			{% if products %}
				<div class="row mx-auto" >
					{% for product in products %}
					<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
						<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" style="width: 300px;height: 300px;overflow: hidden;">
						<div class="card-body">
							<p class="card-title">{{product.name}}</p>
							<p class="card-text"><b>{{product.price|currency}}</b></p>
						</div>
						<div class="card-footer p-0 no-gutters">
							{% if product|is_in_cart:request.session.cart %}
							<div class="row no-gutters">
								<form action="/#{{product.id}}" class="col-2 " method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id}}'>
									<input hidden type="text" name='remove' value='True'>
									<input type="submit" value=" - " class="btn btn-block btn-success border-right" style="background-color: rgb(0, 245, 245);color:#000000;border-color:rgb(0, 245, 245);">
								</form>
								<div class="text-center col btn btn-success" style="background-color: rgb(0, 245, 245);color:#000000;border-color:rgb(0, 245, 245);">{{product|cart_quantity:request.session.cart}} in Cart</div>
								<form action="/#{{product.id}}" class="col-2 " method="post">
									{% csrf_token %}
									<input hidden type="text" name='product' value='{{product.id}}'>
									<input type="submit" value=" + " class="btn btn-block btn-success border-left" style="background-color: rgb(0, 245, 245);color:#000000;border-color:rgb(0, 245, 245);">
								</form>
							</div>
							{% else %}
							<form action="/#{{product.id}}" method="POST" class="btn-block">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" class="float-right btn btn-success form-control"
									value="Add To Cart" style="background-color: rgb(0, 245, 245);color:#000000;border-color:rgb(0, 245, 245);">
							</form>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			{% else %}
			<div style="position:absolute;top:50%;left:50%;-webkit-transform: translate(-10%, -50%);
			transform: translate(-50%, -50%);">
				<a>Products will be added soon in this category !</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}